.navbar {
  box-shadow: -2px 2px 0 0 #111827 !important;
  border: 2px solid #111827 !important;
}
.container-nav {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 50vw;
  height: 60px;
  margin: 20px;
  border-radius: 6px;
}

.switch-login-page {
  color: #6394f7 !important;
}
