.chat-box {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  min-height: 60vh;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow-y: auto;
  max-height: 60vh;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

.chat-header h3 {
  margin: 0;
}

.chat-header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 0 0 0 10px;
}

.chat-input button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 0 0 10px 0;
}

.chat-input button:hover {
  background-color: #0056b3;
}

.chatbox-input {
  width: 77%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 20vh;
}
