/* src/components/FloatingButton.scss */
.floating-button {
  position: fixed;
  bottom: 15px;
  right: 10px;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}
