.droppable-list {
  list-style-type: none;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.draggable-item {
  width: 60vw;
  margin: 0 0 5px 0;
}

.edit-textarea {
  font-size: 0.7em;
  font-weight: bold;
  width: 100%;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  overflow: hidden;
  box-shadow: none;
}
.edit-textarea:focus {
  border: none !important;
  outline: none !important;
  background-color: #ededed;
}
.edit-textarea:hover {
  background-color: #ededed;
}

.drag-handle {
  cursor: grab;
  user-select: none;
  opacity: 0.3;
}

.heading-heading-4 {
  color: #fdf57d;
  font-size: 0.7em;
  font-weight: bold;
  font-family: "Source Code Pro", monospace;
  background-color: rgb(66, 66, 66);
}
.heading-heading-4:hover {
  background-color: rgb(66, 66, 66);
  color: #fdf57d;
}
.heading-heading-4:focus {
  background-color: rgb(66, 66, 66);
  color: #fdf57d;
}
.heading-heading-1 {
  font-size: 1.2em;
  font-weight: bold;
}

.heading-heading-2 {
  font-size: 1em;
  font-weight: bold;
}

.heading-heading-3 {
  font-size: 0.7em;
  font-weight: bold;
}

.dd-item-pages .ant-btn {
  border: none;
  background: transparent;
  padding: 0;
}

.dd-item-pages .ant-btn:hover,
.dd-item-pages .ant-btn:focus {
  background: transparent;
}
.ant-dropdown {
  z-index: 10000000000000000000 !important;
}
.custom-dropdown-menu {
  .ant-dropdown-menu-item {
    width: 100%;
    font-weight: 800 !important;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 0.6rem !important;
  }

  .ant-dropdown-menu-item-danger {
    color: #ff4d4f;
  }
}
.ant-dropdown-menu,
.ant-popover-inner {
  box-shadow: -2px 2px 0 0 #111827 !important;
  border: 2px solid #111827 !important;
}

.ant-tooltip .ant-tooltip-inner {
  text-align: center !important;
  font-size: 0.5rem;
  min-height: 0 !important;
}

.ant-message {
  position: fixed;
  left: 70px !important;
  top: 10px !important;
  z-index: 9999;
}

.ant-message-notice-content {
  box-shadow: -2px 2px 0 0 #111827 !important;
  padding: 5px !important;
  border: 2px solid #111827 !important;
  font-size: 0.6em;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.container-block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-spin-dot {
  color: #4265ac !important;
}
