.droppable-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-nav {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.navbar {
  width: 60vw;
  height: 60px;
  margin: 20px;
  border-radius: 6px;
}
@media screen and (max-width: 700px) {
  .draggable-item {
    padding-right: 10px;
    padding-left: 10px;
    width: 100vw !important;
  }
  .navbar {
    width: 100vw;
    margin: 20px;
  }
}

.draggable-item {
  width: 60vw;
  margin: 0 0 20px 0;
}

.edit-textarea {
  width: 100%;
  min-height: 50px;
  padding: 4px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
  border: 1px solid black;
  font-size: 14px;
  box-shadow: none;
}

.drag-handle {
  cursor: grab;
  font-size: 10px;
  user-select: none;
  padding: 5px;
}

.heading-heading-1 {
  font-size: 1.2em;
  font-weight: bold;
}

.heading-heading-2 {
  font-size: 1em;
  font-weight: bold;
}

.heading-heading-3 {
  font-size: 0.5em;
  font-weight: bold;
}

.dd-item-pages .ant-btn {
  border: none;
  background: transparent;
  padding: 0;
}

.dd-item-pages .ant-btn:hover,
.dd-item-pages .ant-btn:focus {
  background: transparent;
}

.custom-dropdown-menu {
  .ant-dropdown-menu-item {
    width: 100%;
    font-weight: 800 !important;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 0.6rem !important;
  }

  .ant-dropdown-menu-item-danger {
    color: #ff4d4f;
    &:hover {
      background-color: #fff1f0;
    }
  }
}
.ant-dropdown-menu {
  box-shadow: -2px 2px 0 0 #111827 !important;
  border: 2px solid #111827 !important;
}
