.node-draggableItem {
  border: none !important;
  outline: none !important;
}

.new-page-btn {
  box-shadow: var(--box-shadow-sm) !important;
  border: var(--global-border-width, 2px) var(--global-border-style, solid) var(--global-border-color, #111827) !important;
  border-radius: var(--global-border-radius, 4px) !important;
}

.main-button {
  background-color: rgb(255, 255, 255);
  border: var(--global-border-width, 2px) var(--global-border-style, solid) var(--global-border-color, #21242b);
  box-shadow: var(--global-shadow-x, -3px) var(--global-shadow-y, 3px) 0px 0px var(--global-border-color, #21242b);
  padding: 10px 15px;
  margin: 7px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: var(--global-border-radius, 6px);
  transition: all 0.3s ease;
  font-weight: 900;
  color: var(--global-border-color, #21242b);

  &:hover {
    box-shadow: none;
    transform: translate(calc(var(--global-shadow-x) * 1), calc(var(--global-shadow-y) * -1));
  }

  &:focus, &:active {
    background-color: #f3f4f6;
  }
}

.profile-card {
  margin: 20px;
  box-shadow: var(--box-shadow) !important;
  border: var(--global-border-width, 3px) var(--global-border-style, solid) var(--global-border-color, #21242b) !important;
  border-radius: var(--global-border-radius, 8px) !important;
  background-color: var(--container-bg);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: calc(var(--global-shadow-x) * 1.5) calc(var(--global-shadow-y) * 1.5) 0 0 var(--global-border-color, #21242b) !important;
  }
}

.filter-option {
  transition: color 0.3s;
  &.selected {
    background-color: #f3f4f6;
  }
}

.anticon-dash {
  font-weight: 900 !important;
  font-size: 30px !important;
  padding: 60px !important;
  opacity: 0.5;
}