.node-draggableItem {
  border: none !important;
  outline: none !important;
}
.new-page-btn {
  box-shadow: -2px 2px 0 0 #111827 !important;
  border: 2px solid #111827 !important;
}
.main-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid #21242b;
  box-shadow: -3px 3px 0px 0px #21242b;
  padding: 10px 20px;
  margin: 7px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 6px;
  transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.1s ease-out;
}

.main-button:hover {
  box-shadow: none;
  transform: translate(-3px, 3px);
}

.main-button:focus,
.main-button:active {
  border: 2px solid #21242b !important;
  outline: 3px solid #21242b !important;
  background-color: rgb(238, 238, 237);
  box-shadow: none;
  transform: translate(-3px, 3px);
}

.filter-option {
  transition: color 0.3s;
}

.filter-option.selected {
  background-color: rgb(219, 217, 217);
}
