.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-card {
  margin: 20px;
  width: 350px;
  box-shadow: -3px 3px 0px 0px #21242b !important;
  border: 2px solid black;
  border-radius: 6px !important;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-header h2 {
  margin-top: 10px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.avatar-profile {
  border: 2px solid black;
  border-radius: 50%;
  width: 150px !important;
  height: 150px !important;
}


.avatar-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  .avatar-item {
    cursor: pointer;

    .avatar-image {
      width: 80px;
      height: 80px;
      border-radius: 8px;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}


.friends-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friends-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

.friends-list li img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.friends-list li button {
  margin-left: auto;
  background-color: #ff4d4f;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.friends-list li button:hover {
  background-color: #ff7875;
}

.friends-list .no-friends {
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-list .no-friends span {
  font-weight: 600;
  color: #595959;
}